# Git
.git
.gitignore

# Docker
.dockerignore
docker/
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Poetry
.poetry/

# IDE
.idea/
.vscode/

# Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/

# Secrets
secrets/
